<%= form_for @creature do |f| %>
  <span>Name: </span>
  <%= f.text_field :name, required: true %><br>
  <span>Description: </span>
  <%= f.text_field :description, required: true %><br>
  <%= f.submit %>
<% end %>
